<header class="Header">
  <nav class="navbar">
    <div class="pages">
      <h1><a routerLink="/">Shops</a></h1>
      <h1><a routerLink="/cart">Cart</a></h1>
    </div>

    <app-login 
      (onAuthNameChange)="handleAuthNameChange($event)" 
      (getToken)="handleToken($event)">
    </app-login>
    
    <div class="login">
      <ng-container *ngIf="!isLoggedIn">
        <!-- <app-login (authChange)="loadUserData()"></app-login> -->
        <!-- <app-register (authChange)="loadUserData()"></app-register> -->
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <!-- <button (click)="logout()" class="btn btn-primary">Logout</button> -->
        <h2 class="userName">Welcome, {{ authName }}</h2>
      </ng-container>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <!-- Your footer content -->
</footer>
